      body {
     
      |background-image: linear-gradient(to bottom, 
      #353541,
      #353541|
      
      
       );
      
      
      background-color: white;
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      }
     
      form {
        background-color: white;
        border: 5px solid black;
        display: inline-block;
        text-align: left;
        padding: 20px;
        border-radius: 10px;
        color: darkblack;
        font-weight: bold;
        text-shadow: .5px .5px .5px white;
        box-shadow: 0 0 50px black;
        transition: all 2s ease-in-out;
        display: inline-block;
        }
        
       
      #bottom{
      background-color: white;
      width: 360px;
      border: 0px solid green;
      display: inline-block;
      text-align: center;
      padding: 0 0 0 0px;
      border-radius: 10px;
      color: white;
      font-weight: bold;
      text-shadow: .5px .5px .5px white;
      box-shadow: 0 0 0px black;
      transition: all 2s ease-in-out;
      display: inline-block;}
      
      #bottom:hover{
      background-color: black;
      text-color:white;
      }
      
 
      input[type="text"], button {
        padding: 10px;
        font-size: 16px;

        border: 2px solid black;
        margin-bottom: 20px;
        
        
      }
      form:hover{
      background-color: #7ac3fa;
      color: #f50707;
      
      
      }
      button {
        background-color: #7cfa6e;
        color: black;
        text-shadow:  .5px .5px .5px white;
        cursor: pointer;
        font-weight: bold;
        border: 2px black;
        border-color:red;
        transition: all 0.3s ease-in-out;
      }
      button:hover {
        background-color: red;
        
      }
      #interest {
        font-weight: bold;
        color: red;
        font-size: 20px;
        
      }
     
      h1 {
        color: #02abed;
        border: black;
        text-shadow: 0 0 0 0px black;
        margin-bottom: 40px;
        
        }
        h3{
        margin: 7 0 20px;
        color: #050df2;}
        
        id="interest"{
        float: right;
        }
        h5{
        margin: 0 0 0 105px;
        text-color: red;
      
       }
        
      
      label[for="years"] {
      margin-right: 15px;
      
      }
      label[for="rate"] {
      margin-right: 1px;
      }
    button[onclick="calculateInterest()"]
      {
     border: 2px solid black;
     border-radius: 10px;
     shadow: 5px red;
    
      }
      button[type="button"]
      {
      margin-left: 0px;
      float: right;
      
      }
